# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# IDEs
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.temp
temp.txt

# OS
.DS_Store
Thumbs.db